<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="accounts, expenses, receipts">
    <meta name="description" content="Spending Manager">
    <meta charset="UTF-8">
    <title>Spend Manager</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
</body>
</html>
